{{/* Pages Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $items_type := $st.Params.content.page_type | default "post" }}

{{ $items_offset := $st.Params.content.offset | default 0 }}
{{ $items_count := $st.Params.content.count }}
{{ if eq $items_count 0 }}
{{ $items_count = 65535 }}
{{ else }}
{{ $items_count = $items_count | default 5 }}
{{ end }}
{{ $items_sort := $st.Params.content.order | default "desc" }}

{{ $headless_bundle1 := site.GetPage "/home" }}

{{/* Query */}}
{{ $query2 := where ( $headless_bundle1.Resources.ByType "page" ) ".Params.active" "!=" true }}
{{ $query := where ( $headless_bundle1.Resources.Match "definitions/*/*" ) ".Params.active" "!=" true }}

{{ $count := len $query }}

{{/* Sort */}}
{{ $sort_by := "Date" }}
{{ $query = sort $query $sort_by $items_sort }}

{{/* Offset and Limit */}}
{{ if gt $items_offset 0 }}
{{ $query = first $items_count (after $items_offset $query) }}
{{ else }}
{{ $query = first $items_count $query }}
{{ end }}

{{/* Localisation */}}
{{ $i18n := "" }}
{{ if eq $items_type "post" }}
{{ $i18n = "more_posts" }}
{{ else if eq $items_type "talk" }}
{{ $i18n = "more_talks" }}
{{ else if eq $items_type "publication" }}
{{ $i18n = "more_publications" }}
{{ else }}
{{ $i18n = "more_pages" }}
{{ end }}

<style>
div.tab-pane img {clip-path: inset(1% 1% 1% 1%); margin:auto;}
</style>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-md-4">
	<h2 style="font-size:2.1rem;">{{ with $st.Title }}{{ . | markdownify | emojify }}{{ end }}</h2>
	{{ if $st.Params.subtitle }}
	  <p style="font-size:1.35rem;">{{ $st.Params.subtitle }}</p>
	{{ end }}
	<!-- <p style="font-size:88%;">(this list was inspired by OWASP Top Ten)</p> -->
        <div class="nav flex-column nav-pills desktop-menu" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          {{ range $i, $post := $query }}
	    {{ if eq $i 0 }}
	    <a class="nav-link active" data-toggle="tab" href="#{{ .Title | urlize }}" role="tab" aria-selected="true">0{{ add $i 1 }}&nbsp;&nbsp;&nbsp;{{ .Title }}</a>
	    {{ else if eq $i 9 }}
	      <a class="nav-link" data-toggle="tab" href="#{{ .Title | urlize }}" role="tab" aria-selected="true">{{ add $i 1 }}&nbsp;&nbsp;&nbsp;{{ .Title }}</a>
	    {{ else }}
	      <a class="nav-link" data-toggle="tab" href="#{{ .Title | urlize }}" role="tab" aria-selected="true">0{{ add $i 1 }}&nbsp;&nbsp;&nbsp;{{ .Title }}</a>
	    {{ end }}
          {{end}}
	</div>
      </div>
      <div id="bgwhite" class="col-12 col-md-8">
        <div id="my-tab-content" class="tab-content" role="tablist">
        {{ range $i, $post := $query }}
	  {{ if eq $i 0 }}
	    <div class="tab-pane fade active show" role="tabpanel" id="{{ .Title | urlize }}">
	      <div class="card-header mobile-menu" role="tab" id="mobile-menu-0">
                <a class="nav-link" data-toggle="collapse" href="#collapse-{{ .Title | urlize }}" data-parent="#my-tab-content" aria-expanded="true">0{{ add $i 1 }}&nbsp;&nbsp;&nbsp;{{ .Title }}</a> 
              </div>
              <div class="collapse show" role="tabpanel" id="collapse-{{ .Title | urlize }}">
              <div class="truncate-long-text">{{ .Content }}</div>
              <div id='unhide-btn' class="mb-3 mt-1 text-center"><a href='javascript:void(0);' onclick="toggleContent()">Show full content</a></div>
          {{ else }}
	    <div class="tab-pane fade" role="tabpanel" id="{{ .Title | urlize }}">
              <div class="card-header mobile-menu" role="tab" id="mobile-menu-{{ $i }}">
                <a class="nav-link" data-toggle="collapse" href="#collapse-{{ .Title | urlize }}" data-parent="#my-tab-content" aria-expanded="false">0{{ add $i 1 }}&nbsp;&nbsp;&nbsp;{{ .Title }}</a>
              </div>
	      <div class="collapse" role="tabpanel" id="collapse-{{ .Title | urlize }}">
              {{ .Content }}
          {{ end }}
	      </div></div>
        {{end}}
	</div>
      </div>

    </div>
  </div>
</div>
