{{/* Pages Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $items_type := $st.Params.content.page_type | default "post" }}

{{ $items_offset := $st.Params.content.offset | default 0 }}
{{ $items_count := $st.Params.content.count }}
{{ if eq $items_count 0 }}
{{ $items_count = 65535 }}
{{ else }}
{{ $items_count = $items_count | default 5 }}
{{ end }}
{{ $items_sort := $st.Params.content.order | default "desc" }}

{{ $headless_bundle1 := site.GetPage "/home" }}

{{/* Query */}}
{{ $query := where site.RegularPages "Type" "textpage" }}
{{ $query = where $query "Params.active" "!=" true }}
{{ $query = where $query "Params.frontpage" "eq" true }}
{{ $count := len $query }}

{{/* Sort */}}
{{ $sort_by := "Date" }}
{{ $query = sort $query $sort_by $items_sort }}

<!-- <i class="fas fa-external-link-alt"></i> -->

<div class="row justify-content-center">
      <div class="col-10 col-sm-8">
	<h1 class="text-center mb-5">{{ with $st.Title }}{{ . | markdownify | emojify }}{{ end }}</h1>
	<ul>
          {{ range $i, $post := $query }}
	      <li><a target="blank" href="{{.RelPermalink }}">{{ .Title }}</a></li>
          {{end}}
	</ul>
    </div>
</div>
