{{ $page := .page }}
<div class="row justify-content-center">
{{ if or ( $page.Title ) ( $page.Params.subtitle ) }}
<div class="col-lg-12 mb-1">
{{ with $page.Title }}<h2 class="text-center mb-3">{{ . | markdownify | emojify }}</h2>{{ end }}
{{ with $page.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
</div>
{{ end }}
<div class="col-lg-12">
<!-- <p class="text-center" style="font-size:1.1rem;">Databunker encrypts and protects user records from SQL injections and GraphQL attacks</p> -->
<div class="row justify-content-center mb-4">
<div class="col-12 col-md-4 mt-3">
<div class="pricecolumn" style="background:#d4eef9;">
<div class="grey text-center mt-2"><h2 style="text-align:center;">Community Edition</h2></div>
<div class="grey"><p style="font-size:72%;text-align:center;">For small teams with limited resources</p></div>
<div class="grey mprice"><p style="font-size:300%;text-align:center;margin:0;line-height:1.1;">$0.0</p></div>
<section class="mb-3">
<!-- <div class="pline">✔️ Instant backend GDPR, HIPAA, ISO 27001, and SOC2 compliance</div> -->
<div class="pline">✔️ Supports MySQL and PostgreSQL databases</div>
<div class="pline">✔️ Commercial-friendly MIT license</div>
<div class="pline">✔️ Fast Go-based encryption</div>
<div class="pline">✔️ View <a href="/doc/introduction/" target="_blank">documentation</a></div>
<div class="pline">✔️ View <a href="https://github.com/securitybunker/databunker/" target="_blank">source code</a></div>
<div class="pline">&nbsp;</div>
</section>
<div class="grey yprice" style="padding-bottom:15px;text-align:center;">
<center class="mb-2"><a href="https://databunker.org/doc/start/" class="btn-outline-primary btn-lg btn page-scroll mt-2" style='border-radius:5px!important;padding: 18px 30px 20px !important;box-shadow:0 4px 6px 0 rgba(0,0,0,0.2);'>Getting Started Guide</a></center>
</div></div></div>
<div class="col-12 col-md-4 mt-3 mobile-hide">
<div class="pricecolumn" style="background:#FCA311;">
<div class="grey text-center mt-2"><h2 style="text-align:center;">Databunker Pro</h2></div>
<div class="grey"><p style="font-size:72%;text-align:center;">Startup-friendly pricing</p></div>
<div class="grey mprice"><p style="font-size:300%;text-align:center;margin:0;line-height:1.1;">$1.2/hour</p></div>
<section class="mb-3">
<div class="pline">✔️ Onboarding includes DevOps support</div>
<div class="pline">✔️ Multi-tenancy & service auto scalling</div>
<div class="pline">✔️ Fast deployment & concierge service</div>
<!-- <div class="pline">✔️ <a href="/databunker-pro/">Enterprise security features</a></div> -->
<div class="pline">✔️ Direct access to developers</div>
<div class="pline">✔️ Support available on call</div>
<div class="pline">✔️ Free trial available</div>
</section>
<div class="grey yprice" style="padding-bottom:15px;text-align:center;">
<center class="mb-2">
<!-- <a href="javascript:void(0);" onclick="request_free_trial();" class="btn-primary btn-lg btn page-scroll mt-2" style='border-radius:5px!important;padding: 18px 30px 20px !important;box-shadow:0 4px 6px 0 rgba(0,0,0,0.2);'>Request Free Trial</a>&nbsp;&nbsp;&nbsp; -->
<a href="/databunker-pro/" class="btn-outline btn-lg btn page-scroll mt-2" style='vertical-align:top;border-radius:5px!important;padding: 18px 30px 20px !important;box-shadow:0 4px 6px 0 rgba(0,0,0,0.2);border-color:#d4eef9;color:#d4eef9;'>Learn More</a>
<!-- &nbsp;&nbsp;&nbsp; <a href="javascript:void(0);" onclick="request_free_trial();" class="mt-2" style='vertical-align:top;display:inline-block;'><img src="/img/aws-marketplace-btn.svg" alt="Available in AWS Marketplace" style='box-shadow:0 8px 12px 0 rgba(0,0,0,0.2);'/></a>
--></center>
</div></div></div>
<div class="col-12 col-md-4 mt-3 mobile-hide">
<div class="pricecolumn" style="background:#d4eef9;">
<div class="grey text-center mt-2"><h2 style="text-align:center;">Enterprise</h2></div>
<div class="grey"><p style="font-size:80%;text-align:center;">For enterprise companies</p></div>
<div class="grey mprice"><p style="font-size:300%;text-align:center;margin:0;line-height:1.1;">$87,000/y</p></div>
<section class="mb-3">
<div class="pline">✔️ Get optimized service to meet your needs</div>
<div class="pline">✔️ Dedicated account manager</div>
<div class="pline">✔️ Enterprise security features</div>
<div class="pline">✔️ Direct access to developers</div>
<div class="pline">✔️ Cloud / on-premises</div>
<div class="pline">✔️ Advanced support</div>
</section>
<div class="grey yprice" style="padding-bottom:15px;text-align:center;">
<center class="mb-2">
<!-- <a href="javascript:void(0);" onclick="request_free_trial();" class="btn-primary btn-lg btn page-scroll mt-2" style='border-radius:5px!important;padding: 18px 30px 20px !important;box-shadow:0 4px 6px 0 rgba(0,0,0,0.2);'>Request Free Trial</a>&nbsp;&nbsp;&nbsp;-->
<a href="https://databunker.org/api/meeting.php?a=enterprise" class="btn-outline-primary btn-lg btn page-scroll mt-2" style='border-radius:5px!important;padding: 18px 30px 20px !important;box-shadow:0 4px 6px 0 rgba(0,0,0,0.2);'>Book a Call</a></center>
</div></div></div>
</div>
<center>Not sure what to pick? <a href="/api/meeting.php?a=plans">Book a free call</a> to get tailor made offer for your business.</center>
</div></div>
