{{ $ := .root }}
{{ $page := .page }}
<div class="row justify-content-center"><div class="col-md-6">
<h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
{{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
{{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}
</div>
<div class="col-md-4 text-right"><a target="_blank" href="{{ $page.Params.btn.url | safeURL }}" {{ if $page.Params.btn.onclick}} {{printf "onclick=\"%s\"" $page.Params.btn.onclick | safeHTMLAttr}} {{end}} class="btn-primary btn-lg btn page-scroll mt-4">{{ $page.Params.btn.label | markdownify | emojify | safeHTML }}</a></div>
</div>
