{{ $page := .page }}

    <div class="row justify-content-center">
      {{ if or ( $page.Title ) ( $page.Params.subtitle ) }}
      <div class="col-lg-12 mb-3">
        {{ with $page.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
        {{ with $page.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      </div>
      {{ end }}
      <div class="col-lg-12">
        {{ $page.Content }}
      </div>
   </div>
{{ if $page.Params.btn.url }}
  <div class="row justify-content-center">
    <div class="col-lg-12 mb-2 mt-5">
        <div class="text-center">
                <a href="{{ $page.Params.btn.url | safeURL }}" {{ if $page.Params.btn.onclick}} {{printf "onclick=\"%s\"" $page.Params.btn.onclick | safeHTMLAttr}} {{end}} class="btn-primary btn-lg btn page-scroll">{{ $page.Params.btn.label | markdownify | emojify | safeHTML }}</a>
                {{ if $page.Params.btn_alt.url }}
                &nbsp;<a href="{{ $page.Params.btn_alt.url | safeURL }}" {{ if $page.Params.btn_alt.onclick}} {{printf "onclick=\"%s\"" $page.Params.btn_alt.onclick | safeHTMLAttr}} {{end}} class="btn btn-lg btn-secondary page-scroll">{{ $page.Params.btn_alt.label | markdownify | emojify | safeHTML }}</a>
                {{ end }}
        </div>
    </div>
  </div>
{{ end }}
