{{ $ := .root }}
{{ $page := .page }}

<div class="row justify-content-center mb-4">
<div class="col-lg-12 text-center" id="qbanner" style="display:none;">
<img src="/img/yuli-right-small.png" style="width:100px;" alt="Yuli Stremovsky, Privacybunker founder" />
<div>
<p class="mt-1" style="font-size:130%;font-size:800;">I hope you enjoy reading this article.</p>
Me and my team will love to help you with PII/PHI data security and compliance. <a href="/contact/">Contact us now.</a>
</div>
</div>
</div>

    <div class="row justify-content-center">
      <div class="col-lg-8 mb-4">
        {{ if or ( $page.Title ) ( $page.Params.subtitle ) }}
        <div class="mb-3">
          {{ with $page.Title }}<h1 class="mt-0">{{ . | markdownify | emojify }}</h1>{{ end }}
          {{ with $page.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
	  <div class="article-metadata">
          {{ partial "share.html" $.Page }}
          </div>
	  <div class="article-ad" style='display:none;'>
            <b>Ad</b> • <div class="ad-url" onclick="free_check_link();">privacybunker.io/<b>website-gdpr-audit</b></div><br>
	    <a target="_blank" href="https://privacybunker.io/gdpr-tools-for-ecommerce/"><b>GDPR</b> and Cookie Popup Audit - Scan Your Website NOW!</a>
	    <p style="font-size:65%;">Companies already paid €2,720,000,000 in GDPR fines. It takes minute to get a detailed GDPR report and prevent GDPR fines.</p>
          </div>
        </div>
        {{ end }}
        {{ $page.Content }}

	<br/>
	<br/>
	  <div id="free-takeaway" class="mt-5" style="">
            <h2 style='font-size:2rem;' class="mb-3">👋 Guided tour</h2>
            <p>Curious to see <b>Databunker</b> or <b>Databunker PRO</b> in action?</p>
            <p><a href="https://calendly.com/stremovsky/30min">Book a call today</a></p>
	    <h2 style='font-size:2rem;' class="mb-3">Introducing a Free Takeaway</h2>
	    <p>Databunker is a free, open-source project available under the commercially friendly MIT license.</p>
	    <p>- Check out the <a href="/doc/introduction/">getting started guide</a></p>
	    <p>- Review the <a href="/doc/install/">installation guide</a></p>
	    <p>- View the <a href="https://github.com/securitybunker/databunker" target="_blank">source code</a></p>
          </div>
      </div>
      <div class="col-lg-4">
        {{ partial "expert.html" $page }}
      </div>
   </div>
{{ if $page.Params.btn.url }}
  <div class="row justify-content-center">
    <div class="col-lg-12 mb-2 mt-5">
        <div class="text-center">
                <a href="{{ $page.Params.btn.url | safeURL }}" {{ if $page.Params.btn.onclick}} {{printf "onclick=\"%s\"" $page.Params.btn.onclick | safeHTMLAttr}} {{end}} class="btn-primary btn-lg btn page-scroll">{{ $page.Params.btn.label | markdownify | emojify | safeHTML }}</a>
                {{ if $page.Params.btn_alt.url }}
                &nbsp;<a href="{{ $page.Params.btn_alt.url | safeURL }}" {{ if $page.Params.btn_alt.onclick}} {{printf "onclick=\"%s\"" $page.Params.btn_alt.onclick | safeHTMLAttr}} {{end}} class="btn btn-lg btn-secondary page-scroll">{{ $page.Params.btn_alt.label | markdownify | emojify | safeHTML }}</a>
                {{ end }}
        </div>
    </div>
  </div>
{{ end }}
