{{ $page := .page }}

    <div class="row justify-content-center">
      <div class="col-lg-8 mb-4">
        {{ if or ( $page.Title ) ( $page.Params.subtitle ) }}
        <div class="mb-3">
          {{ with $page.Title }}<h1 class="mt-0">{{ . | markdownify | emojify }}</h1>{{ end }}
          {{ with $page.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
	  <div class="article-metadata">
          {{ partial "share.html" $page }}
          </div>
	  <div class="article-ad">
            <b>Ad</b> • <div class="ad-url" onclick="free_check_link();">privacybunker.io/<b>free-gdpr-check</b></div><br>
	    <a target="_blank" href="https://privacybunker.io/gdpr-tools-for-ecommerce/">Free Website GDPR Check - Scan Your Website NOW!</a>
          </div>
        </div>
        {{ end }}
        {{ $page.Content }}

	  <div class="mt-5">
	    <h3>Free takeaway</h3>
	    <p>The Databunker team has created another project. It is a cloud SAAS that helps companies to check their website for GDPR violations.</p>
	    <p>The first website report of <b>free</b>. <a href="https://privacybunker.io/gdpr-tools-for-ecommerce/">You can check your website now!</a></p>
          </div>
      </div>
      <div class="col-lg-4">
        {{ partial "meeting.html" $page }}
      </div>
   </div>
{{ if $page.Params.btn.url }}
  <div class="row justify-content-center">
    <div class="col-lg-12 mb-2 mt-5">
        <div class="text-center">
                <a href="{{ $page.Params.btn.url | safeURL }}" {{ if $page.Params.btn.onclick}} {{printf "onclick=\"%s\"" $page.Params.btn.onclick | safeHTMLAttr}} {{end}} class="btn-primary btn-lg btn page-scroll">{{ $page.Params.btn.label | markdownify | emojify | safeHTML }}</a>
                {{ if $page.Params.btn_alt.url }}
                &nbsp;<a href="{{ $page.Params.btn_alt.url | safeURL }}" {{ if $page.Params.btn_alt.onclick}} {{printf "onclick=\"%s\"" $page.Params.btn_alt.onclick | safeHTMLAttr}} {{end}} class="btn btn-lg btn-secondary page-scroll">{{ $page.Params.btn_alt.label | markdownify | emojify | safeHTML }}</a>
                {{ end }}
        </div>
    </div>
  </div>
{{ end }}
