<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}">

{{ partial "site_head.html" . }}

<body id="top" data-spy="scroll" data-target="{{ if or .IsHome (eq .Type "widget_page") }}#navbar-main{{else}}#TableOfContents{{end}}" data-offset="71" {{ if not (.Scratch.Get "light") }}class="dark"{{end}}>

  {{ partial "search" . }}

  {{ partial "navbar.html" . }}

  {{ block "main" . }}{{ end }}

  {{ partial "site_js.html" . }}

  {{ partial "chat.html" . }}

  {{ if eq .Type "use-case" }}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          {{ partial "site_footer.html" . }}
        </div>
      </div>
    </div>
  {{ else }}
    {{ if ne .Type "docs" }}
    <div class="container">
      {{ partial "site_footer.html" . }}
    </div>
    {{ end }}
  {{ end }}

  {{ partial "citation.html" . }}

</body>
</html>
