<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}">

{{ partial "site_head.html" . }}

<body id="top" data-spy="scroll" data-target="{{ if or .IsHome (eq .Type "widget_page") }}#navbar-main{{else}}#TableOfContents{{end}}" data-offset="71" {{ if not (.Scratch.Get "light") }}class="dark"{{end}}>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DTR72MP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  {{ partial "navbar.html" . }}

  {{ block "main" . }}{{ end }}

  {{ partial "site_js.html" . }}

  {{ if eq .Type "use-case" }}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          {{ partial "site_footer.html" . }}
        </div>
      </div>
    </div>
  {{ else }}
    {{ if ne .Type "docs" }}
    <div class="container">
      {{ partial "site_footer.html" . }}
    </div>
    {{ end }}
  {{ end }}

  {{ partial "citation.html" . }}

</body>
</html>
