.section-heading h1 {
  font-size: 25px;
}
.section-heading p {
  font-size: 1rem;
}
.section-heading {
margin-bottom: 30px;
}
.nav-pills .nav-link {
border-radius:0;
}
img.fancybox-image {
clip-path: inset(0% 1% 1% 1%);
}
div#youtube {
box-shadow: rgba(0,0,0,.5)0 20px 30px 0;
border: 10px solid #fff;
}
