.section-heading h1 {
  font-size: 25px;
}
.section-heading p {
  font-size: 1rem;
}
.section-heading {
margin-bottom: 30px;
}
.nav-pills .nav-link {
border-radius:0;
text-transform: uppercase;
font-size: 15px;
}
img.fancybox-image {
clip-path: inset(0% 1% 1% 1%);
}
div#youtube {
border: 10px solid #fff;
box-shadow: 0 2px 4px 0;
transition: all .2s ease-out;
}
div#youtube:hover {
box-shadow: rgba(0,0,0,.5)0 20px 30px 0;
}
footer.blockquote-footer {
	padding: 0;
}
.docs-toc-item.active {
margin:0;
}
.docs-toc-item.active:not(:first-child) {
margin: 0;
}
div#bgwhite {background-color: #fff;margin-top:10px; border:1px solid #ddd; padding-left:0;padding-right:0;}
div#bgwhite p { text-align: justify; padding-left:25px;padding-right:25px;}
div#bgwhite .tab-pane p:first-child {padding-top:20px;}
#definitions h1 {margin-top:0; margin-bottom:20px;}
.desktop-menu {
  display:none;
}
.mobile-menu {
  display:none;
}
@media(min-width:768px) {
  .desktop-menu {
    display:block;
  }
  div#bgwhite .collapse, div#bgwhite .collapse:not(.show) {display: block;}
}
@media(max-width:768px) {
  .mobile-menu {
    display:block;
  }
  div#bgwhite .tab-content>.tab-pane {display:block;opacity:1;}
}
blockquote {margin-left:25px;padding-right:0px;padding-left:0px;}
div#bgwhite .tab-pane blockquote  p:first-child {padding-top:0;}
#sharebtns {top:100px;position:fixed;right:-200px;z-index:10000;  -webkit-animation: linear; animation-delay: 3s; -webkit-animation-name: buttons; -webkit-animation-duration: 3s;animation-fill-mode: forwards;}
@-webkit-keyframes buttons {
  0% {
    right: -150px;
  }
  100% {
    right:25px;
  }
}
#chat {bottom:25px;right:25px;position:fixed;z-index:10000;display:none;}
#chatlinks {display:none;}
#chatlinks a {padding:10px 40px!important;line-height: 25px;}
@media only screen and (max-width:600px)
{
#sharebtns {display:none;}
#chat {display:none;}
}
div.docs p {text-align: justify;}
.share-box {float:unset;}
