<script>
function get_str(v) {
  if (!v) {
    return "";
  }
  return v;
}
function log_event(evname) {
  if (!evname) {
    return;
  }
  var xhr10 = new XMLHttpRequest();
  var rnd = Math.floor(Math.random() * 1000000).toString();
  xhr10.open('GET', "/api/pixel.php?tabname="+evname+"&rnd="+rnd);
  xhr10.onload = function () {
    if (xhr10.status !== 200) {
      return;
    }
  };
  xhr10.send();
}
function new_meeting(topic="demo-request") {
  document.location = 'https://databunker.org/api/meeting.php?a=demo';
}
function toggleContent() {
    var contentDiv = document.querySelector('.truncate-long-text');
    contentDiv.style.overflow = 'visible';
    contentDiv.style.maxHeight = '100%';
    contentDiv.style.maskImage = 'unset';
    document.querySelector('#unhide-btn').style.display = 'none';
}
function book_demo_call() {
  var n = document.getElementById('call_name');
  var e = document.getElementById('call_email');
  var p = document.getElementById('call_phone');
  var c = document.getElementById('call_country');
  var s = document.getElementById('call_site');
  var t = document.getElementById('call_topic');

  var msg = new URLSearchParams();
  var email = "";
  var name = "";
  var topics = [];
  if (e && e.value) {
    email = e.value.trim();
    if (email.length == 0) {
      return;
    }
    msg.append('email', email);
    if (n && n.value) {
      name = n.value.trim();
      //window.localStorage.setItem('name', name);
      msg.append('name', name);
    }
  }
  if (email.length == 0) {
      return;
  }
  var divs = document.querySelectorAll('input[type=checkbox]');
  for (i = 0; i < divs.length; ++i) {
    if (divs[i].checked) {
      topics.push(divs[i].id);
      //console.log(divs[i].id);
    }
  }
  if (topics.length > 0) {
    topics = topics.join(",");
    console.log(topics);
    msg.append('topics', topics);
  }
    var xhr0 = new XMLHttpRequest();
    msg.append('email', email);
    xhr0.open('POST', "/api/contact.php");
    xhr0.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhr0.onload = function () {
      document.location = 'https://calendly.com/stremovsky/30min?email='+email;
    };
    xhr0.send(msg.toString());
}
function free_check_link() {
  window.open('https://privacybunker.io/', '_blank');
}
function click_yuli() {
  log_event('click-yuli');
  document.location = 'https://calendly.com/stremovsky/30min';
}
function click_help() {
  log_event('click-help');
  const element = document.getElementById("contact");
  if (element) {
    element.scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
  } else {
    document.location = 'https://calendly.com/stremovsky/30min';
  }
}
function copy_pre_text(obj) {
  log_event('copy');
  const el = document.createElement('textarea');
  el.value = $('pre').text();
  document.body.appendChild(el);
  el.select();
  document.execCommand('copy');
  document.body.removeChild(el);
  $(obj).removeClass('fa-copy');
  $(obj).addClass('fa-check');
  setTimeout(function() {
    $(obj).removeClass('fa-check');
    $(obj).addClass('fa-copy');
  }, 2000);
}
let slideIndex = 1;
function plus_slides(n) {
  show_slides(slideIndex += n);
}
function current_slide(n) {
  show_slides(slideIndex = n);
}
function show_slides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
function fullpanel_show(code="") {
  var el_cont = document.getElementById('fullpanel_cont');
  el_cont.innerHTML = code;
  var el = document.getElementById('fullpanel');
  el.style.display = "block";
  var body = document.getElementsByTagName('body')[0];
  body.style.overflow="hidden";
}
function fullpanel_close() {
  var body = document.getElementsByTagName('body')[0];
  body.style.overflow='';
  var el = document.getElementById('fullpanel');
  el.style.display = "none";
}
function request_free_trial() {
  var load_google = false;
  if (load_google) {
    google_auth_load();
  }
  log_event('free-trial');
  var old_name = get_str(window.localStorage.getItem('name'));
  var old_phone = get_str(window.localStorage.getItem('phone'));
  //Enter your details to continue:
  var old_email = get_str(window.localStorage.getItem('email'));
  var code = '<div id="signup_panel" style="max-width:470px;margin:0 auto;padding:30px;background:#fff;border:1px solid #e6e6e6;">'+
    '<p>Request Free Trial</p>'+
    '<p style="font-size:90%;color:#737373;">Enter your details:</p>'+
    '<div id="status-message" style="display:block;width:100%;"></div>'+
    '<div class="slow-display" style="">'+
    '<div id="google-one-tap-container"></div></div>'+
    '<div id="line_or" style="display:none;" class="mb-2"><div class="line"></div><div style="display:inline-block;text-align:center;width:10%;">OR</div><div class="line"></div><p>Enter your details to continue:</p></div>'+
    '<form method="POST" action="/api/send.php"><input type="hidden" name="captcha" value="18" />'+
    '<input type="text" name="name" id="signup_name" class="form-control mt-2" style="margin-bottom:10px" placeholder="Enter your name" value="'+old_name+'" />'+
    '<input type="email" name="email" id="signup_email" class="form-control mt-3" style="margin-bottom:10px" placeholder="Enter your email address" value="'+old_email+'" required autocomplete="email" />'+
    //'<input type="text" name="phone" id="signup_phone" class="form-control mt-2" style="margin-bottom:10px" placeholder="Enter your Phone/WhatsApp" value="'+old_phone+'" autocomplete="phone" />'+
    //'<p style=font-size:70%;color:#737373;">You can also send us message on <a href="https://wa.me/972524486622?text=AWS+cost+reduction+question">WhatsApp</a></p>'+
    '<div class="text-center mt-4"><input type="submit" class="btn-primary btn-lg btn page-scroll" value="Request Free Trial"/></div></form>';
  fullpanel_show(code);
}
</script>
