<div class="widget">
<h2 class="mt-0">Databunker:</h2>
<h3 class="mt-0">PII Data Protection Vaul</h3>
<p>- Check out the <a href="https://databunker.org/doc/start/">getting started guide</a></p>
<p>- View the <A href="https://github.com/securitybunker/databunker">source code</a></p>
</div>
<div class="widget mt-4">
<h3 class="mt-0">Meet Yuli Stremovsky</h3>
<p>👋 Hello! I am Yuli, the founder of the Databunker project. I'm on a mission to assist startup founders in securing customer data!</p>
<p>I'm excited to connect with exceptional software architects, visionary CTOs, and innovative product leaders who are shaping the future of software industry.</p>
<p>Together, let’s shape a more private and secure digital future!</p>
<p>My email: <a href="mailto:yuli@privacybunker.io">yuli@privacybunker.io</a>.</p>
<div class="text-center mt-4"><a href="javascript:void(0)" onclick="click_yuli();" class="btn-outline-primary btn-lg btn page-scroll">Book a call with me</a></div>
</div>
