<div class="widget">
<!--
<h2 class="mt-0">See Databunker PRO in action</h2>
-->
<h2 class="mt-0">We look to improve Databunker. Let's discuss your project!</h2>
<input type="text" id="call_name" class="form-control mt-3" style="margin-bottom:10px" placeholder="Enter your name (*)" value="" />
<input type="email" id="call_email" class="form-control mt-3 mb-3" style="margin-bottom:10px" placeholder="Enter your email address (*)" value="" required="" autocomplete="email" />
<p>Select your project:</p>
<div class="form-check mb-1"><input type="checkbox" class="form-check-input" id="encryption"><label class="form-check-label" for="encryption">PII/PHI/KYC Encryption</label></div>
<div class="form-check mb-1"><input type="checkbox" class="form-check-input" id="automation"><label class="form-check-label" for="automation">Privacy Automation</label></div>
<div class="form-check mb-1"><input type="checkbox" class="form-check-input" id="design"><label class="form-check-label" for="design">Privacy by Design</label></div>
<div class="form-check mb-1"><input type="checkbox" class="form-check-input" id="security"><label class="form-check-label" for="security">Data Security</label></div>
<div class="form-check mb-1"><input type="checkbox" class="form-check-input" id="soc2"><label class="form-check-label" for="soc2">SOC2 Compliance</label></div>
<div class="form-check mb-1"><input type="checkbox" class="form-check-input" id="gdpr"><label class="form-check-label" for="gdpr">GDPR Compliance</label></div>
<div class="form-check mb-1"><input type="checkbox" class="form-check-input" id="hipaa"><label class="form-check-label" for="hipaa">HIPAA Compliance</label></div>
<div class="form-check mb-1"><input type="checkbox" class="form-check-input" id="pci"><label class="form-check-label" for="pci">PCI-DSS Compliance</label></div>
<div class="form-check mb-1"><input type="checkbox" class="form-check-input" id="iso27001"><label class="form-check-label" for="iso27001">ISO27001 Compliance</label></div>
<div class="form-check mb-1"><input type="checkbox" class="form-check-input" id="support"><label class="form-check-label" for="support">Databunker / PRO Support</label></div>
<div class="text-center mt-4"><a href="javascript:void(0)" onclick="book_demo_call();" class="btn-outline-primary btn-lg btn page-scroll">Book a Call</a></div>
</div>
