<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div style="text-align: center">
	  <a href="https://github.com/paranoidguy/databunker" target="_blank" rel="noopener" class="btn btn-lg btn-outline-primary page-scroll"><i class="fab fa-github">&nbsp;</i>Star us on GitHub</a>
        </div>
        {{ with site.GetPage "privacy.md" }}
        <p class="powered-by">
          {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
        </p>
        {{ end }}
      </div>
      <div class="col-md-6">
        <ul class="list-inline network-icon text-right">
          {{/* Contact links. */}}
          {{ range site.Params.contact_links }}
          {{ $pack := or .icon_pack "fas" }}
          {{ $pack_prefix := $pack }}
          {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
          {{ end }}
          {{ $link := .link }}
          {{ $scheme := (urls.Parse $link).Scheme }}
          {{ $target := "" }}
          {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
          {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
          {{ end }}
          <li class="list-inline-item">
            <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} title="{{.name}}"><i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}" aria-hidden="true"></i></a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <!--
  <script id='bettergdpr_js' src="https://databunker.privacybunker.cloud/site/better-gdpr.js?tenant=databunker&aa=123" type="text/javascript"></script>
  -->
</footer>
