<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(70878271, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/70878271" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div style="text-align: center;display:none;">
	  <a href="https://github.com/securitybunker/databunker" target="_blank" rel="noopener" class="btn btn-outline-primary page-scroll"><i class="fab fa-github">&nbsp;</i>Star us on GitHub</a>&nbsp;
	  <a href="https://join.slack.com/t/databunker/shared_invite/zt-b6ukxzw3-JCxv8NJDESL40haM45RNIA" target="_blank" rel="noopener" class="btn btn-outline-primary page-scroll"><i class="fab fa-slack">&nbsp;</i>Join Slack Channel</a>
        </div>
        {{ with site.GetPage "privacy.md" }}
        <p class="powered-by">
          {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
        </p>
        {{ end }}
      </div>
      <div class="col-md-3">
        <ul class="list-inline network-icon text-right">
          {{/* Contact links. */}}
          {{ range site.Params.contact_links }}
          {{ $pack := or .icon_pack "fas" }}
          {{ $pack_prefix := $pack }}
          {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
          {{ end }}
          {{ $link := .link }}
          {{ $scheme := (urls.Parse $link).Scheme }}
          {{ $target := "" }}
          {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
          {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
          {{ end }}
          <li class="list-inline-item">
            <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} title="{{.name}}"><i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}" aria-hidden="true"></i></a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
<script>
/*
const popup = window.sessionStorage.getItem('popup');
var mouseX = 0;
var mouseY = 0;
var popupCounter = 0;
if (!popup) {
  window.sessionStorage.setItem('popup', 1);
} else {
  window.sessionStorage.setItem('popup', popup+1);
}
if (popup === 3) {
  document.addEventListener("mousemove", function(e) {
    mouseX = e.clientX;
    mouseY = e.clientY;
  });
  $(document).mouseleave(function () {
    if (mouseY < 100 && popupCounter < 1) {
      popupCounter = 1;
      //setCookie('popup', 1, 30);
      window.sessionStorage.setItem('popup', 10);
      ml_account('webforms', '3097595', 'm9s9h1', 'show');
    }
  });
  setTimeout(function() {
    if (popupCounter < 1) {
        popupCounter = 1;
	window.sessionStorage.setItem('popup', 10);
        ml_account('webforms', '3097595', 'm9s9h1', 'show');
    }
  }, 30000);
}
*/
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/70878271" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- <script id="bettergdpr_js" src="https://databunker.privacybunker.cloud/site/better-gdpr.js?bettergdprtenant=databunker" type="text/javascript"></script> -->
</footer>
