<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div style="text-align: center">
          <a href="https://sensr.net/auth/users/sign_up">
		  <button style="background-color:#ddd;font-size:0.9em;padding:5px 20px; font-family: GibsonSemibold, Helvetica Neue, Helvetica, Arial, sans-serif;float:none !important;text-shadow:0 1px 1px rgba(0,0,0,0.2)"><i class="fab fa-github"></i>&nbsp;Star us on GitHub</button>
          </a>
        </div>
        {{ with site.GetPage "privacy.md" }}
        <p class="powered-by">
          {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
        </p>
        {{ end }}
      </div>
      <div class="col-md-6">
        <ul class="list-inline network-icon text-right">
          {{/* Contact links. */}}
          {{ range site.Params.contact_links }}
          {{ $pack := or .icon_pack "fas" }}
          {{ $pack_prefix := $pack }}
          {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
          {{ end }}
          {{ $link := .link }}
          {{ $scheme := (urls.Parse $link).Scheme }}
          {{ $target := "" }}
          {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
          {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
          {{ end }}
          <li class="list-inline-item">
            <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} title="{{.name}}"><i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}" aria-hidden="true"></i></a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</footer>
